.wrapper {
  margin-top: 2rem;
  width: 100%;

  .details-wrapper {
    gap: 4rem;
    background: white;
    padding: 20px;
    width: 50%;
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    div {
      width: 40%;
    }
  }

  .example-container {
    overflow: auto;
  }

  table {
    width: 100%;
  }

  tr.mat-mdc-footer-row {
    font-weight: bold;
  }

  .mat-mdc-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
}
