<div class="wrapper content flex flex-col gap-8">
  <div class="details-wrapper flex justify-between">
    <div class="flex gap-2 justify-center align-center">
      <mat-icon>person_pin</mat-icon> {{ installer?.name }}
    </div>
    <div class="flex gap-2 justify-center align-center">
      <mat-icon>phone</mat-icon> {{ installer?.phone }}
    </div>
    <div
      class="flex gap-2 justify-center align-center"
      *ngFor="let cat of installer?.categories"
    >
      <mat-icon>build</mat-icon> {{ cat?.name }}
    </div>
  </div>
  <div class="btns-wrapper">
    <button mat-raised-button (click)="onPrices()">טבלת מחירים</button>
    <button mat-raised-button (click)="onAddCategories()">שנה קטגוריות</button>
    <button mat-raised-button (click)="onExportToExcel()">יצא לאקסל</button>
  </div>
  <div class="filters">

    <input [formControl]="date" class="month" type="month">
  </div>
  <app-table [columns]="columns" [dataSource]="dataSource"></app-table>
</div>
