<div class="flex justify-between">
  <h1 class="padding-5">הוספת מתקין</h1>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>

<div class="wrapper">
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input [control]="name" [label]="'שם'"></app-input>
    <app-input [control]="password" label="סיסמא" type="password"></app-input>
    <app-input
      [control]="phone"
      [label]="'טלפון'"
      [mask]="'000-000-0000 || 00-0000000'"
    ></app-input>
    <app-input [control]="email" [label]="'אימייל'"></app-input>
    <app-select-categories [control]="category"></app-select-categories>

    <button mat-raised-button color="primary" type="submit">שמור</button>

    <br />
    <div *ngIf="errMessage" class="error-msg">{{ errMessage }}</div>
  </form>
</div>
