<mat-form-field appearance="outline" class="example-full-width">
  <mat-label *ngIf="label"> {{ label }} </mat-label>
  <mat-select [(value)]="selectedOption" [compareWith]="compareFn">
    <mat-option
      *ngFor="let opt of options; let i = index"
      [value]="opt"
      [disabled]="opt.value === null"
      (click)="control?.setValue(opt)"
      (click)="onValueChange(opt.value)"
    >
      <div class="option-content">
        <span>
          {{ opt.label }}
        </span>
        <span class="first{{ i }} " *ngIf="opt.price">
          {{ opt.price | currency : "ILS" : "symbol" : "1.0-0" }}
        </span>
      </div>
    </mat-option>
  </mat-select>
  @if (control?.hasError('required')) {
  <mat-error>שדה חובה</mat-error>
  }
</mat-form-field>
