<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="content content-center">
  <div class="manage-form">
    <h1 mat-dialog-title>{{ editMode ? "עריכת משימה" : "הוספת משימה" }}</h1>

    <form [formGroup]="assignmentForm">
      <div class="right-wrapper">
        <app-date-input [control]="dateControl"></app-date-input>
        <app-manage-customer
          (formReady)="onCustomerFormReady($event)"
          [customer]="assignment?.customer"
        ></app-manage-customer>
        <app-select-marketer [control]="marketerControl"></app-select-marketer>
      </div>
      <div class="left-wrapper">
        <div class="grid">
          <app-select-service-provider
            [control]="serviceProviderControl"
          ></app-select-service-provider>
          <div class="product">
            <app-select-product
              class="select-product"
              [control]="productControl"
            ></app-select-product>
            <input
              [formControl]="numOfProductsControl"
              class="num-products"
              type="number"
            />
          </div>
        </div>

        <div class="flex flex-wrap flex-col checkboxes">
          <div>
            <section class="example-section flex gap-4">
              <h5 *ngIf="this.numOfProductsControl.value > 1">
                X{{ this.numOfProductsControl.value }}
              </h5>
              <app-assignment-additionals
                *ngIf="additionalPrices"
                [additionalPrices]="additionalPrices"
                [existingPrices]="assignment?.additionalPrices"
                (formReady)="onAdditionalsFormReady($event)"
              ></app-assignment-additionals>
            </section>
          </div>
        </div>
        <div class="grid">
          <app-input
            [control]="extrasControl"
            [label]="
              numOfProductsControl.value > 1
                ? 'תוספת מרחק X' + numOfProductsControl.value
                : 'תוספת מרחק'
            "
            [currency]="'₪'"
          ></app-input>
          <app-input
            [control]="customerNeedsToPayControl"
            [label]="'לקוח ישלם למתקין'"
            [currency]="'₪'"
          ></app-input>
          <app-select-status [control]="status"></app-select-status>
          <app-select-pickup-status
            [control]="pickupStatus"
          ></app-select-pickup-status>
        </div>
        <app-input
          class="comments"
          [control]="commentsControl"
          label="הערות"
        ></app-input>

        <div
          class="btn-wrapper flex flex-row justify-end align-end width-10/10 gap-2"
        >
          <div>סה"כ התחשבנות מול המתקין: {{ cost }}</div>

          <div></div>
        </div>
        <br />
      </div>
      <div class="bottom-wrapper">
        <div *ngIf="errMessage" class="error-msg">{{ errMessage }}</div>
        <button
          mat-raised-button
          [disabled]="assignmentForm.invalid && false"
          color="primary"
          type="submit"
          (click)="onSubmit()"
        >
          {{ assignment ? "עדכן" : "שמור" }}
        </button>

        @if(assignment) {

        <button
          mat-raised-button
          color="warn"
          type="submit"
          (click)="onDelete()"
        >
          מחק
        </button>
        }
      </div>
    </form>
  </div>
</div>
