<form class="" [formGroup]="customerForm">
  <app-input [control]="nameControl" [label]="'שם'"></app-input>
  <app-input
    [control]="phoneControl"
    [mask]="'000-000-0000 || 00-0000000'"
    [label]="'טלפון'"
  ></app-input>
  <app-address [control]="addressControl"></app-address>
</form>

<!-- the date -->

<!-- <td class="  date-td">
            <mat-form-field class=""  appearance="outline">
                <div class="flex">
                <input  matInput [matDatepicker]="picker2"
                       [formControl]="getDateControl()" >
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                </div>
              </mat-form-field>
        </td> -->
