<div
  *ngIf="products && additionals && isFromReady()"
  class="table-wrapper content"
>
  <h1>מחירון {{ installer.name }}</h1>
  <form [formGroup]="addPricesForm" (ngSubmit)="onSubmit()">
    <table class="">
      <thead>
        <tr class="flex flex-row">
          <th>מוצר</th>
          <th *ngFor="let additional of additionals">{{ additional.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="flex flex-row"
          *ngFor="let prod of products; let i = index"
          [formGroup]="getProductNameFormGroup(i)"
        >
          <td class="product-name-wrapper">
            <input
              type="text"
              formControlName="productName"
              readonly
              [value]="prod.name"
              class="readonly-input"
            />
          </td>
          <td
            *ngFor="let additional of additionals; let j = index"
            class="price-field"
          >
            <div [formGroup]="getPriceFormGroup(i, j)">
              <input
                type="number"
                formControlName="price"
                placeholder="Enter price"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button
        *ngIf="user.role == roles.Employee"
        type="submit"
        mat-raised-button
        color="primary"
      >
        שמור
      </button>
    </div>
    <br /><br />
    <div class="error-msg" *ngIf="errMessage">{{ errMessage }}</div>
  </form>
</div>
